  /*about page CSS*/
  /*build grid boxes,sets a size for the columns in a grid container*/

  .aboutus{
    margin: 0;
    padding-top: 50pt;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    text-align: center;
    color: azure;
  }
  .aboutusbox{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    color: azure;
  }
  .aboutusbox-group{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding: 1em 0;
  }
  .aboutboxItem{
    width: auto;
    text-align:left;
    font-size: 1.8vw;
    padding: 30pt;
  }

  .aboutImage{
    width: 110%;
    height: auto;
    size: 100%;
  }

.aboutgridbox{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.aboutlist-group{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  padding: 1em 0;
}

.aboutlist{
  width: auto;
}

.gridimage{
  size: 100%;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .aboutusbox-group{
      grid-template-columns: 1fr;
      grid-template-areas:
      "aboutboxItem"
      ;
  }
  
}

@media screen and (max-width: 800px) {
  .aboutlist-group{
      grid-template-columns: 1fr;
      grid-template-areas:
      "aboutlist"
      ;
  }
  
}

@media screen and (max-width: 800px) {
  .aboutlist-group{
      grid-template-columns: 1fr;
      grid-template-areas:
      "aboutlist"
      ;
  }
  
}