* {
    margin: 0;
    padding: 0;
  }
  body{
    font-family: "Pacifico", sans-serif;
  }
  body, html{
    height: 100%;
    margin: 0;
  }
  .homebg{
    background-image: url("Pictures/homeimage.jpg");
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .header-logo{
    padding-top: 20pt;
    padding-left: 30pt;
  }
  .header-logo a{
    color: azure;
    text-decoration: none;
    font-size: 3rem;
  }
  .container {
    position: absolute;
    width:auto;
    margin: 20px;
    padding-left: 700pt;
  }

  .header-body{
    overflow: hidden;
    position: relative;
    display: flex;
  }

  .header-body a{
    float: left;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:large;
    margin: auto;
  }
  @media screen and (max-width: 800px){
    .header-body a{
      
    }
  }

  .footer-main{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    justify-content: center;
  }

  .footer-main-iterm{
    padding: 1rem;
    min-width: 12rem;
    text-align: center;
  }

  .footer-main-iterm ul{
    list-style: none;
    text-align: center;
  }
  footer{
    line-height: 1.5;
  }

  footer p{
    text-align: center;
    color: grey;
  }

  .menu-header-logo{
    padding-top: 20pt;
    padding-left: 30pt;
  }
  .menu-header-logo a{
    color: black;
    text-decoration: none;
    font-size: 3rem;
  }

  .menu-header-body{
    overflow: hidden;
  }

  .menu-header-body a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:large;
  }
  .menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  .menu-header{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  .menu-iterm-header{
    display: flex;
    justify-content: space-between;
  }
  .menu-iterm-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em 0;
  }
  a:hover {
    text-decoration: underline;
  }
  a{
    text-decoration: none;
  }






