/*css file for subscription.php*/


/*set the text color for body*/
body{
    color: azure;
}

/**/
.formcontainer{
    padding: 30pt;
    width: 70%;
    margin: 100px auto;
}

/*change the style for all the input with text type*/
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*change the style for all the input with password type*/
input[type=password], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*change the style for all the button with submit type*/
 button[type=submit]{
    font-size:medium;
    background-color: rgb(40, 119, 215);
    color: white;
    padding: 10px 50px; 
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:left;
    line-height: 80px;
    box-sizing: border-box; 
}

/*change the style for all the button with reset type*/
  button[type=reset]{
    font-size:medium;
    background-color: red;
    color: white;
    padding: 14px 50px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 

.centerButton{
    padding-left: 500px;
    
} 
